{% extends 'base.html.twig' %}
{% block title %}L'association{% endblock %}

{% block body %}
    <div class = 'container'>
        <div class = 'row'>

            <div class = 'col-sm-10'>
                <h1 id = 'titreAssociation'>L'association NAO</h1>
                <div id = 'histoireAssoc' class = 'row'>
                    <img alt = 'oiseau1' src = '{{ asset('assets/img/oiseauxAssoc.jpg') }}' id = 'imgOiseau1' />
                    <h2 id = 'titreHist'>Son Histoire</h2>
                    <p>L’association a été créée en juillet 2013 par Michel Dujardin. Il est par ailleurs, toujours en poste à la présidence de la structure. M. Dujardin est passionné d’ornithologie depuis son plus jeune âge et il a construit son expérience professionnelle à partir de cette passion, en se spécialisant dans la biologie intégrative.
                    L’association loue des locaux  en Charente Maritime, au 13 Rue des Colibri 17140 Ile de Ré.
                    Elle est composée d’une équipe de 10 personnes et chaque année, elle accueille en plus 3 stagiaires doctorants. Le but premier de l'association est de  recenser et étudier tous les oiseaux du parc sur les cycles de migrations, de reproductions et de comportements.
                    </p>
                </div>
                <br /><br />
                <div id = 'descProfils' class = 'row'>
                    <h2 id = 'titreProfils'>Amateurs et Naturalistes</h2>
                    <p>Le site internet de l’association est accessible à tous, aussi bien aux amateurs passionnés d’ornithologie qu’aux professionnels du domaine.
                    Grâce à un système unique de gain d’expérience, chaque action engageante réalisée sur le site par l’utilisateur lui permet d’accumuler un certain nombre de points.
                    L’accès à certaines fonctionnalités est débloqué (compte naturaliste, modérateur du blog, …) et le statut de l’utilisateur change en fonction du nombre de points qu’il possède, de moineau à aigle royal en passant par cygne, quel utilisateur serez-vous ?
                    </p><br />
                    <a href = '{{ path('inscription') }}' class = 'btn btn-defaut' id = 'assocDemande'>Faire une demande</a>
                </div>
                <br /><br />
                <div id = 'progRecherche' class = 'row'>
                    <img alt = 'oiseau1' src = '{{ asset('assets/img/oiseauxAssoc.jpg') }}' id = 'imgOiseau1' />
                    <h2 id = 'titreRecherche'>Programme de recherche</h2>
                    <p>Grâce à la collecte de données réalisée sur le terrain par les utilisateurs du site de l’association, Nos Amis les Oiseaux souhaite mener à bien un programme de recherche et visant à étudier les effets du climat, de l’urbanisation, et de l’agriculture sur la biodiversité, notamment chez les oiseaux.</p>
                </div>
                <br /><br />
                <div id = 'blocDon' class = 'row'>
                    <h2 id = 'titreDon'>Faire un don</h2>
                    <p>Il est possible de soutenir l’association dans ses missions et ses recherches, pour faire un don cliquez sur le bouton ci-dessous.</p><br />
                    <a href = '{{ path('donation') }}' class = 'btn btn-defaut' id = 'btnDon'>Faire un don</a>
                    <br /><br />
                </div>
            </div>

        </div>


    </div>

{% endblock %}