{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}
{% block body %}
<div class = 'container'>
    <div id = 'panelh1' class = 'row'>
        <h1>Bienvenue sur votre profil personnel <strong>{{ users.username }}</strong> ! </h1>
    </div>
    <div id = 'panelh1' class = 'row'>
        <h3>Votre code de parrainage est : <strong>{{ users.godfatherCode }}</strong> </h3>
    </div>
    <div id = 'panelh1' class = 'row'>
        <h5>Votre expérience cumulée est de : <strong>{{ users.experience }}</strong> points</h5>
    </div>
    <div class = 'col-lg-12'>
        <div class = 'col-lg-4'>
            Profil utilisateur
        </div>
        <div class = 'col-lg-4'>
            Gestion des articles
        </div>
        <div class = 'col-lg-4'>
            Consultation de mes trouvailles
        </div>
    </div>
    
</div>
<a href="{{ path('deconnexion') }}">se deconnecter</a>
{% endblock %}