{% extends 'base.html.twig' %}

{% block body %}
<div class = 'container'>
    <div id = 'panelh1' class = 'row'>
        <h1>Bienvenue sur votre profil personnel <strong>{{ username }}</strong> ! </h1>
    </div>

</div>

{% endblock %}