{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}

<div class = 'container'>
    <h1 id = 'titreRecup' >Récupération de mot de passe</h1>
    <br />
    <form id = 'formForgotPass' class = 'form-horizontal' action="{{ path('mailPass') }}" method="post">
        <div class = 'form-group'>
            <label for="mail">Veuillez entrer votre e-mail pour récupérer votre mot de passe : </label>
            <input type="text" class="form-control" id="mail" name="mail" required />
        </div>
        <div class = 'form-group'>
            <button type="submit" id ='sendMail' class="btn btn-default">Ok</button>
        </div>
        {% for message in app.flashes('error') %}
            <div class="flash-notice">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="flash-notice">
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    </form>
</div>


{% endblock %}