<!DOCTYPE html>
<html>
	<head>
		<style type = text/css>
	        header
	        {
	            margin-left: 20px;
	        }
	    </style>
	</head>
	<header><strong>Nos Amis Les Oiseaux</strong></header>
	<body>
		<h2>Réinitialisation de votre mot de passe</h2><br />
		<p>Bonjour, ci-dessous votre nouveau mot de passe à utiliser pour vous connecter à votre espace.</p>
		<p><strong>Nouveau mot de passe : </strong>: {{ randompassword }} </p>
		<br/>
	</body>
	<footer>A bientôt sur notre site ! </footer>
</html>