{% extends 'base.html.twig' %}

{% block body %}

    <h3>Accueil</h3>
    <div id="map"></div>

    {% block javascripts %}
    <script type = "text/javascript" src = "{{ asset('assets/js/homepage.js') }}"> </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBluRZPBnIrqrFRpb0vw6_BabF-mOKc6ns&callback=initMap">
    </script>
    {% endblock %}
{% endblock %}