html
{
    height:100%;
}
body{
    background-image: url("../img/background-img.jpg");
    background-size:60%;
    height: 100%;
    position:relative;
}
.container{

    background-color: white;
    min-height:81.67%;
    position:relative;
    margin-top: -1.5%;

}
#map
{
    height: 500px;
    position: relative;
    margin-left:2%;
}
#NAOTitle
{
    color: rgb(64,137,242);
    font-weight: bold;
}
footer {
    /*position: absolute;*/
    margin-top: -3%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(128,128,128);
    color: white;
    text-align: center;
    clear:both;
}
.text-center
{
    background-color: rgb(128,128,128);
}
#don
{
    color: white;
    background-color: rgb(66,137,238);
    border-radius: 1px;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:5px;
    padding-left:5px;
    margin-top: -10px;

}
.obligatoire
{
    color:red;
}
.stripe-button-el
{
    margin-left:44%;
    /*border-radius: 1px;*/
    color: white;
    font-size: 1.2em;
    /*background: rgb(74,229,62);*/
}
header
{
    text-align:center;
}
#nextArticle, #prevArticle
{
    text-align:center;
}
#prevArticle
{
    height:30px;
    background-color: rgb(239,239,239);
    color: rgb(180,180,180);
    padding-top: 5px;
    border-radius:6px;
}
#nextArticle
{
    height:30px;
    background-color: rgb(189,189,189);
    color: white;
    padding-top: 5px;
    border-radius: 6px;

}
#h2, #titreAssociation
{
    text-align: center;
    margin-top: 5%;
    color: #4cab3d;
    /*background-color: white;*/
}
h2
{
    text-align:center;
    margin-bottom: 50%;
}
#formLogin
{
    text-align:center;
    padding-right: 30%;
    padding-left: 30%;
}
#formInscription
{
    margin-left:35%;
    width: 350px;
    min-height: 700px;
}
#titreProfils, #titreDon
{
    text-align:center;
    color:#4cab3d;
}
#titreHist, #titreRecherche
{
    text-align:right;
    color:#4cab3d;
}
#histoireAssoc, #progRecherche
{
    background-color: rgb(230,230,230);
    text-align:right;
    padding: 5%;
}
#descProfils, #blocDon
{
    background-color: rgb(230,230,230);
    text-align:center;
    padding: 5%;

}
#modifArticle
{
    color: white;
    background-color: rgb(74,229,62);
    border-radius: 5px;
    text-align:right;
}
#imgOiseau1
{
    float:left;
}
#loginUser
{
    text-align:center;
    color: rgb(150,150,150);
    height:715px;
}
#validLogin, #btnAddObs
{
    color: white;
    background-color: rgb(74,229,62);
    border-radius: 2px;
    font-size: 1.2em;
}
.unmask
{
    background-color:#F5F5F5;
    border:none;
}
#titreObs
{
    height:300px;
    color: rgb(74,229,62);
}
.input-group
{
    margin-left: 21%;
    margin-right: 21%;
    width: 58%;
    border:none;
}
#searchObs
{
    color: white;
    background-color: rgb(74,229,62);
    border-radius: 2px;
    font-size: 1.5em;
    width:56%;
}
#newsHome
{
    background-color: rgb(242,242,242);
    padding: 13px;
}
#titleNews
{
    color: rgb(74,229,62);
}
#searchNews
{
    margin-top: 22%;
    border-radius: 10px;
}
#searchBird
{
    border-radius: 10px;
}
#btnInscriptionHomePage
{
    color: white;
    background-color: rgb(74,229,62);
    border-radius: 5px;
    font-size: 1.2em;
    margin-top:55%;
}
#nonInscrit
{
    text-align:center;
    /*color: rgb(150,150,150);*/
    height: 715px;
    padding-top:20%;
    background-image: url("../img/back_inscription.jpg");
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
}
@media screen and (max-width: 1023px)
{
    .container
    {
        min-height:67%;
        margin-top: -2%;
    }
    #titreObs
    {
        height:auto;
    }
    #top5Img, #top10img
    {
        display: inline-flex;
        /*margin-left: -20%;*/
    }
    #btnInscriptionHomePage
    {
        margin-left:40%;
        margin-top: 5%;
    }
    #searchNews
    {
        margin-top: 5%;
    }
    #loginUser, #nonInscrit
    {
        width: 100%;
    }
    #newsHome
    {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #linkPanel1, #linkPanel2, #linkPanel3
    {
        margin-left:26%;
    }
    #map
    {
        margin: auto;
    }
    #addObs
    {
        margin-left: 2%;
        margin-right: 2%;
        width: auto;
        padding-bottom: 2%;
    }
    #btnArticle
    {
        margin-left: 33%
    }
    #formInscription
    {
        margin-left:27%;
    }
    #titleNews
    {
        margin-left:37.5%;
    }
    #formComments
    {
        margin-top: 10px;
    }
    #comments1_author
    {
        border: 0.1px solid;
    }
    #actualites, #blocDon, #formContact
    {
        margin-bottom: 5%;
    }

}
@media screen and (min-width: 1024px)
{
    #addObs
    {
        width:30%;
        height: 500px;
        padding-bottom: 0;
    }
    #comments1_submit
    {
        margin-left: 70%;
    }
}
#comments1_submit
{
    margin-left: 30%;
    margin:10px;
    color: white;
    font-size: 1.2em;
    background-color: rgb(74,229,62);
}
.flash-notice
{
    color:red;
}
#panelh1, #titreRecup
{
    text-align:center;
    color: #4cab3d;
}
#formForgotPass
{
    width:40%;
    text-align:center;
    margin-left:30%;
}
#linkPanel1, #linkPanel2, #linkPanel3
{
    text-align:center;
    margin-right: 8.2%;
    margin-top: 5%;
    height: auto;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

#linkPanel1 > img
{
    width: 285px;
    height: 285px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
#linkPanel1:hover > img
{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
#linkPanel2 > img
{
    width: 285px;
    height: 285px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
#linkPanel2:hover > img
{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
#linkPanel3 > img
{
    width: 285px;
    height: 285px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
#linkPanel3:hover > img
{
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
#panelh1 a:hover, #panelh1 a
{
    color: inherit;
    color: rgb(150,150,150);
}
#panelh1 a
{
    color: #4cab3d;
    margin-right:4%;
}
#actualites
{
    text-align:left;
}
#btnDeleteArt, #btnDeleteArt button
{
    color: white;
    background-color: rgb(74,229,62);
    border-radius: 5px;
    text-align:right;
}
#users1 button
{
    width: 100%;
}
#formInscription form
{
    height:550px;
}
#return_Board
{
    color: #4cab3d;
    margin-left: 15%;

}
#addObs
{
    text-align:center;
    color: grey;
    background-color: rgb(242,242,242);
    /*width:30%;*/
}
#top10, #titleActus,#articleTitle

{
    text-align:center;
    color: rgb(74,229,62);
}
.path
{
    color:white;
}
.titleFooter
{
    color:rgb(238,153,8);
}
#btnArticle
{
    color: white;
    background-color: rgb(74,229,62);
    border-radius: 5px;
    font-size: 1.2em;
    margin-top:10%;
    margin-left: 40%;
}
#users_Connexion
{
    border-radius: 1px;
    margin-left: 30%;
    color: white;
    font-size: 1.2em;
    background-color: rgb(74,229,62);
}
#sizeImage
{
    text-align:center;
    margin-left: 50%;
}
.webProject
{
    color:white;
}
#titleInscription
{
    margin-top: -10%;
    color: rgb(238,153,8);
}
#btnInscription
{
    margin-bottom: -100%;
    border-radius: 1px;
    background-color:rgb(238,153,8);
    color:white;
    width:30%;
}
#assocDemande, #btnDon, #sendMail
{
    border-radius: 1px;
    color: white;
    font-size: 1.2em;
    background-color: rgb(74,229,62);
    padding: 10px;
}
#formContact, #formDon
{
    margin-top: 5%;
}
#submitContact
{
    border-radius: 1px;
    margin-right: 40%;
    color: white;
    font-size: 1.2em;
    background-color: rgb(74,229,62);
}
#titleArticleBlog, #forgotPass
{
    color: #4cab3d;
}
#titleSearch {
    text-align: center;
    color: #4cab3d;
}
#titleEditUsers
{
    text-align:center;
    color: #4cab3d;
}