@media (min-width: 1201px) {
    #searchBird, #eac-container-searchBird
    {

        margin-left: 3%;
        width: 97%;
    }
    #selectBirdFamily
    {

        margin-left: 3%;
        width: 94%;
    }
}
