html
{
    background-color: rgb(245,245,245);
    height:100%;
}
body{
    height: 100%;
    position:relative;
}
.container{
    min-height:66%;
    position:relative;
    margin-top: 40px;
}
#map
{
    height: 500px;
    position: relative;
}
#NAOTitle
{
    color: rgb(64,137,242);
    font-weight: bold;
}
footer {
    /*position: absolute;*/
    margin-top: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(248,248,248);
    color: white;
    text-align: center;
    clear:both;
}
#don
{
    color: white;
    background-color: rgb(0,188,213);
    border-radius: 2px;
}
.obligatoire
{
    color:red;
}
.stripe-button-el
{
    margin-left:40%;
}
header, #actualites
{
    text-align:center;
}
#nextArticle, #prevArticle
{
    text-align:center;
}
#prevArticle
{
    height:30px;
    background-color: rgb(239,239,239);
    color: rgb(180,180,180);
    padding-top: 5px;
    border-radius:6px;
}
#nextArticle
{
    height:30px;
    background-color: rgb(189,189,189);
    color: white;
    padding-top: 5px;
    border-radius: 6px;

}
#h4
{
    text-align: center;
    font-weight: bold;
}
#users_Valider
{
    margin-left: 35%;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
h2
{
    text-align:center;
    margin-bottom: 50%;
}
#formLogin
{
    text-align:center;
    padding-right: 30%;
    padding-left: 30%;
}
#formInscription
{
    margin-left:35%;
    width: 350px;
}
#titreAssociation, #titreProfils, #titreDon, #addObs, #top10
{
    text-align:center;
    color: grey;
}
#titreHist, #titreRecherche
{
    text-align:right;
    color:grey;
}
#histoireAssoc, #progRecherche
{
    background-color: rgb(230,230,230);
    text-align:right;
    padding: 5%;
}
#descProfils, #blocDon
{
    background-color: rgb(230,230,230);
    text-align:center;
    padding: 5%;

}
#assocDemande, #btnDon
{
    color: white;
    background-color: rgb(0,188,213);
    border-radius: 5px;
}
#imgOiseau1
{
    float:left;
}
#loginUser
{
    text-align:center;
    color: rgb(150,150,150);
}
#validLogin, #btnInscription, #btnAddObs
{
    color: white;
    background-color: rgb(0,188,213);
    border-radius: 5px;
    font-size: 1.7em;
}
.unmask
{
    background-color:#F5F5F5;
    border:none;
}
#titreObs
{
    height:300px;
}
.input-group
{
    margin-left: 21%;
    margin-right: 21%;
    width: 58%;
    border:none;
}
#searchObs
{
    color: white;
    background-color: rgb(0,188,213);
    border-radius: 2px;
    font-size: 1.5em;
    width:56%;
}
#newsHome
{
    background-color: rgb(200,200,200);
    padding: 13px;
}
#titleNews
{
    color: grey;
}
#searchNews
{
    margin-top: 22%;
    border-radius: 10px;
}
#searchBird
{
    border-radius: 10px;
}
#btnInscriptionHomePage
{
    color: white;
    background-color: rgb(0,188,213);
    border-radius: 5px;
    font-size: 1.2em;
    margin-top:55%;
}
#nonInscrit
{
    text-align:center;
    color: rgb(150,150,150);
    margin-top: 20%;
}
@media screen and (max-width: 1023px)
{
    #titreObs
    {
        height:auto;
    }
    #top5Img, #top10img
    {
        display: inline-flex;
        margin-left: -20%;
    }
    #btnInscriptionHomePage
    {
        margin-left:40%;
        margin-top: 5%;
    }
    #searchNews
    {
        margin-top: 5%;
    }
    #loginUser, #nonInscrit
    {
        width: 100%;
    }
    #newsHome
    {
        margin-top: 5%;
    }
    .container
    {
        min-height: 67%;
    }
}