{% extends "base.html.twig" %}
{% block title %}Inscription{% endblock %}

{% block body %}
{{ form_start(form) }}

{{ form_end(form) }}
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

{% endblock %}