<!DOCTYPE html>
<html>
<head>
	<style type = text/css>
	        header
	        {
	            margin-left: 20px;
	        }
	</style>
	<title>Titre du message</title>
</head>
<body>
	<p>Bonjour, vous avez reçu un message à partir de votre site web.</p>
	<p><strong>Nom</strong>: {{ nom }}</p>
	<p><strong>Email</strong>: {{ email }}</p>
	<p><strong>Message</strong>: {{ message }}</p>
	
</body>
</html>