{% extends 'base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class = 'container'>
        <h1 id = 'titleEditUsers'>Modifier son profil</h1>
        <div id = 'formInscription' class = 'row'>
            {{ form_start(form) }}

            {{ form_end(form) }}
            <a id = 'return_Board' href="{{ path('connexion') }}"> Revenir sur le tableau de bord</a>
        </div>
    </div>
{% endblock %}